/* Stili per le colonne */
#lavoro {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Nessun scroll per lavoro */
    border: 2px solid yellow; /* Contorno giallo per il div lavoro */
}

#categorie {
    background-color: #e74c3c;
    color: white;
    height: 100%;
    display: flex; /* Usa flexbox per disporre le categorie orizzontalmente */
    flex-wrap: nowrap; /* Impedisce il wrapping, forzando la disposizione orizzontale */
    overflow-x: auto; /* Abilita lo scroll orizzontale */
    overflow-y: hidden; /* Disabilita lo scroll verticale */
    white-space: nowrap; /* Evita che gli elementi vadano a capo */
}

#materiali {
    background-color: #2ecc71;
    color: white;
    height: 100%;
    overflow-y: auto; /* Scroll solo verticale */
    overflow-x: hidden;
}

/* Stili per il menu */
#menu {
    background-color: #f1c40f;
    overflow-x: auto; /* Scroll solo orizzontale */
    overflow-y: hidden;
    white-space: nowrap;
}

/* Stili per i tasti del menu */
#menu .col-3 {
    background-color: #9b59b6;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid blue; /* Contorno blu per i tasti del menu */
}

/* Stili per gli elementi di categorie */
#categorie .item {
    background-color: #34495e;
    color: white;
    width: 100px; /* Larghezza fissa di 100px */
    height: 100%; /* Altezza al 100% del parent */
    margin-right: 10px; /* Spaziatura tra le categorie */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Impedisce il ridimensionamento degli elementi */
}

/* Stili per gli elementi di materiali */
#materiali .item {
    background-color: #34495e;
    color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
